@charset "UTF-8";

html, body {
	height: 100%;
}

.menuTab, .list-group-item, .list-group-item-action {
	background-color: #EFEFEF;
	border-color: #EFEFEF;
	border-bottom-color: #7F7F7F;
}

.list-group-item.active {
	color: #3498DB;
	background-color: #EFEFEF;
	border-color: #EFEFEF;
	border-bottom-color: #7F7F7F;
}

.list-group-item:hover {
	background-color: #BEBEBE;
}

.nav-tabs .nav-link.active {
	color: #000000;
	background-color: #9E9E9E !important;
}

.tab-pane {
	border: 1px solid #333333;
	border-top-style: none;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
}

.nav-link {
	border: 1px solid #333333 !important;
	width: 130px;
	height: 50px;
	text-align: center;
	background-color: #EFEFEF;
}
.nav-tabs {
	border-bottom: 1px solid #333333;
	margin-bottom: 0;
}

a.nav-link{
	color: #000000;
}

.content{
	height: 95%;
	background-color: #E0E0E0;
}

.contentlabel{
	background-color: #404040;
	color: #FFFFFF;
	padding: 10px;
}

.table {
	text-align: center;
}


.table-bordered .tcol td{
	background-color: #7F7F7F;
	color: #ffffff;
	border: 1px solid #000000;
	padding: 10px;
	font-size: 20px;
}

.table-bordered .trow td{
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid #000000;
	padding: 8px;
	font-size: 20px;
}

.period {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	text-align: center;
	font-size: 20px;
	padding: 30px;
}

.home_account_form{
	position: absolute;
	text-align: center;
	width: 50%;
	top: 37%;
	left: 23%;
}
